@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Practice Web App (MVC)";
}

<!-- Edited By Tanner Funk on February 5th-->


<h1>Tanner Funk</h1>
<img src="img/jeeping.jpeg" />
<p>I want to learn how to develop applications for enterprises! I also want to make lots of money!</p>
<br />

<p>Top 3 jobs</p>
<ul>
    <li>1. Frontend Software Engineer</li>
    <li>2. Backend Software Engineer</li>
    <li>3. Security Analyst</li>
</ul>

